## SPDX-License-Identifier: GPL-2.0-only

if BOARD_ECS_H310CH5

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_8192
	select CONSOLE_SERIAL
	select DRIVERS_UART_8250IO
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select HAVE_OPTION_TABLE
	select HAVE_CMOS_DEFAULT
	select INTEL_GMA_HAVE_VBT
	select INTEL_INT15
	select MEMORY_MAPPED_TPM
	#select MAINBOARD_SUPPORTS_SKYLAKE_CPU
	#select MAINBOARD_SUPPORTS_KABYLAKE_CPU
	select MAINBOARD_SUPPORTS_COFFEELAKE_CPU
	select SOC_INTEL_KABYLAKE
	#select SKYLAKE_SOC_PCH_H
	select SOC_INTEL_SKYLAKE_LGA1151_V2
	select SUPERIO_ITE_IT8613E

config DISABLE_HECI1_AT_PRE_BOOT
	default y

config MAINBOARD_DIR
	default "ecs/h310ch5"

config MAINBOARD_PART_NUMBER
	default "H310CH5"

config PRERAM_CBMEM_CONSOLE_SIZE
	hex
	default 0xd00

config DIMM_SPD_SIZE
	default 512 #DDR4

config CBFS_SIZE
	default 0x600000 # 8mb chip, 2mb available

config CONSOLE_POST
	default y
	
#config USBDEBUG_HCD_INDEX
	#default 2

endif
