# SPDX-License-Identifier: GPL-2.0-only

if BOARD_GIGABYTE_GA_P41_ES3G

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select CPU_INTEL_SOCKET_LGA775
	select NORTHBRIDGE_INTEL_X4X
	select SOUTHBRIDGE_INTEL_I82801GX
	select SUPERIO_ITE_IT8718F
	select HAVE_ACPI_TABLES
	select BOARD_ROMSIZE_KB_1024
	select PCIEXP_ASPM
	select PCIEXP_CLK_PM
	select PCIEXP_L1_SUB_STATE
	select REALTEK_8168_RESET
	select HAVE_OPTION_TABLE
	select HAVE_CMOS_DEFAULT
	select HAVE_ACPI_RESUME

config MAINBOARD_DIR
	default "gigabyte/ga-p41-es3g"

config MAINBOARD_PART_NUMBER
	default "GA_P41_ES3G"

endif # BOARD_GIGABYTE_GA_P41_ES3G
