## SPDX-License-Identifier: GPL-2.0-only

if BOARD_ASUS_H81_SERIES

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_8192
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select INTEL_GMA_HAVE_VBT
	select MAINBOARD_HAS_LIBGFXINIT
	select MEMORY_MAPPED_TPM
	select NORTHBRIDGE_INTEL_HASWELL
	select SERIRQ_CONTINUOUS_MODE
	select SOUTHBRIDGE_INTEL_LYNXPOINT
	select SUPERIO_NUVOTON_NCT6791D
	select USE_BROADWELL_MRC if !USE_NATIVE_RAMINIT

config MAINBOARD_DIR
	string
	default "asus/h81_series"

config MAINBOARD_PART_NUMBER
	string
	default "H81"

config CBFS_SIZE
	default 0x200000

endif
