if BOARD_LENOVO_IH61MV1 || BOARD_LENOVO_IH61MV4

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_4096 if BOARD_LENOVO_IH61MV1 #W25Q32(4MB)
	select BOARD_ROMSIZE_KB_6144 if BOARD_LENOVO_IH61MV4 #W25Q32+W25Q16(6MB) 
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select HAVE_CMOS_DEFAULT
	select HAVE_OPTION_TABLE
	select INTEL_GMA_HAVE_VBT
	select INTEL_INT15
	select MAINBOARD_HAS_LIBGFXINIT
	select NORTHBRIDGE_INTEL_SANDYBRIDGE
	select SERIRQ_CONTINUOUS_MODE
	select SOUTHBRIDGE_INTEL_BD82X6X
	select SUPERIO_NUVOTON_NCT6776
	select USE_NATIVE_RAMINIT

config MAINBOARD_DIR
	default "lenovo/ih61m"

config MAINBOARD_PART_NUMBER
	default "IH61M Ver:1.0" if BOARD_LENOVO_IH61MV1
	default "IH61M Ver:4.2" if BOARD_LENOVO_IH61MV4

config DRAM_RESET_GATE_GPIO # FIXME: check this
	int
	default 60

config USBDEBUG_HCD_INDEX # FIXME: check this
	int
	default 2
endif
